@import '~bulma/bulma';

.main {
  min-height: 100vh;
}

.table-wrapper {
  overflow: auto;
}

.link {
  cursor: pointer;
}

.is-bordered {
  border: 1px solid #f09;
  border-radius: 10px;
  padding: .5rem;
}
